<div class="hero_body row" style="background-image:url({{section.settings.hero-background-image  | img_url: 'master' }})">
  <div class="hero_row row">
    <div class="col-md-6 hero_col-left" style="background:{{section.settings.background_col }}">
      <div class="hero_col-left-text" style=" background-image:url({{section.settings.hero-background-image  | img_url: 'master' }})">
        <p class="hero_col-left-text-title" style="font:{{section.settings.heading_font}}; color:transparent">
          {{section.settings.hero-headline}}
        </p>
        <p class="hero_col-left-text-sub" style="font:{{section.settings.subtitle_font}}; color:transparent">
          {{section.settings.hero-subtitle}}
        </p>
        <div class="hero_cta-container">
        	<a href="https://test-first1010.myshopify.com/collections/all">
              <p class="hero_cta-text">{{section.settings.hero_cta-text}}<span><img class="hero_cta-icon" src="{{ section.settings.hero_cta-icon | img_url: '20x20' }}" /></span></p>
        	</a>
        </div>
        <div class="hero_labeled-container">
          	<p class="hero_labeled-text">{{section.settings.hero_labeled-text}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 hero_col-right">
      <div class="hero_img-container">
        <div class="hero_img-bottom" style="background:{{section.settings.background_col }}">
          <div class="row hero_img-bottom-content" style="background:{{section.settings.background_col }}">
            <div class="col-md-3">
              <p class="hero_img-bottom-number">30</p>
              <p class="hero_img-bottom-noun">collections</p>
            </div>
            <div class="col-md-3">
            	<p class="hero_img-bottom-number">250</p>
                <pclass="hero_img-bottom-noun">products</p>
            </div>
            <div class="col-md-3">
            	<p class="hero_img-bottom-number">+560</p>
                <p class="hero_img-bottom-noun">clients</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% stylesheet %}
	.hero_body{
		height:90vh;
	}
	.hero_col-left{
		height:90vh;
	}
	.hero_body{
		background-size:cover;
	}
	.hero_col-left-text{
		width:100%;
		margin-top:5%;
		margin-left:10%;
		margin-right: 10%;
  		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}
	h1{
  		font-size: 55px;
	}
	.hero_col-left-text-title{
		font-size: 10rem;
		font-weight: 700;
	}
	.hero_col-left-text-sub{
		font-size: 1.5rem;
		width:55%;
 		text-transform: uppercase; 
	}
	.hero_img-container{
		height:100%;
		width:100%;
	}
	.hero-image{
		margin-left: auto;
  		margin-right: auto;
	}
	.hero_cta-container{
		margin-top:15%;
		color:black;
	}
	.hero_labeled-container{
		position:absolute;
		bottom:50px;
		color:black;
	}
	.hero_cta-icon{
		margin-left: 15px;
	}
	.hero_cta-text{
		font-size:15px;
		text-transform: uppercase;
		text-decoration:none !important;
		color: #000000;
	}
	.hero_img-bottom{
		position: absolute;
        bottom: -50px;
		width:inherit;
	}
	.hero_img-bottom-content{
		background-color:pink;
		width:20%;
		height:140px;
	}
	.hero_img-bottom-number{
		font-size:20px;
		margin-top:20px;
		font-weight:600;
	}
	.hero_img-bottom-noun{
		font-size:10px;
		font-weight:400;
	}
{% endstylesheet %}

{% schema %}
  {
    "name": "Fair Hero",
    "settings": [
		{
			"type": "image_picker",
			"id": "hero-background-image",
			"label": "Hero background image"
		},
		{
			"type": "color",
  			"id": "background",
  			"label": "bg color"
		},
		{
			"type": "color",
  			"id": "background_col",
  			"label": "bg color",
			"default": "#ffffff"
		},
		{
			"type": "text",
  			"id": "hero-headline",
  			"label": "Headline",
			"default": "FINEST <br>FASHION"
		},
		{
			"type": "text",
  			"id": "hero-subtitle",
  			"label": "Headline",
			"default": "The modern theme that makes your brand shine"
		},
		{
  			"type": "font_picker",
  			"id": "heading_font",
  			"label": "Heading font",
  			"default": "harmonia_sans_n9"
		},
		{
  			"type": "font_picker",
  			"id": "subtitle_font",
  			"label": "Heading font",
  			"default": "mono"
		},
		{
			"type": "text",
			"id": "hero_cta-text",
			"label": "Call to action text",
			"default": "Shop now"
		},
		{
			"type": "image_picker",
			"id": "hero_cta-icon",
			"label": "Icon for CTA"
		},
		{
			"type": "text",
			"id": "hero_labeled-text",
			"label": "Text label hero",
			"default": "//TOP FASHION THEMES <br>NEXT GENERATION RETAIL QUALITY"
		},
		{
    		"type": "image_picker",
    		"id": "image",
    		"label": "Hero Image"
  		}

	],
"blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ],
	"presets": [
		{
			"name": "Fair Hero",
			"category": "ADVANCED LAYOUT"
		}
	]
  }
{% endschema %}


