<div class="f-p_section">
  <div class="f-p_container row">
    <div class="col-md-8 f-p_image">
<img class="img-fluid f-p_image"src="{{ section.settings.product.featured_image | img_url: '900x900', crop: 'center'}}"/>
    </div>
    <div class="col-md-4 f-p_text">
      <p class="f-p_text-title">{{section.settings.product.title}}</p>
      <p class="f-p_text-description">{{section.settings.product.description}}</p>
      <div class="col-md-6"><p class="f-p_text-price">{{ section.settings.product.price | money }}</p></div>
      <div class="col-md-6">


        
        
        {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                      <div class="product-form__buttons">
                        <button
                          type="submit"
                          name="add"
                          class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                        {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                        >
                            <span>
                              {%- if product.selected_or_first_available_variant.available -%}
                                {{ 'products.product.add_to_cart' | t }}
                              {%- else -%}
                                {{ 'products.product.sold_out' | t }}
                              {%- endif -%}
                            </span>
                            <div class="loading-overlay__spinner hidden">
                              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                              </svg>
                            </div>
                        </button>
                        {%- if block.settings.show_dynamic_checkout -%}
                          {{ form | payment_button }}
                        {%- endif -%}
                      </div>
                    {%- endform -%}
        
        
        

      </div>
    </div>
  </div>
</div>

{% stylesheet %}
	.f-p_image img{
		width:100%;
	}
	.f-p_text-title{
		font-size:3rem;
		font-weight:900;
		padding-left:5%;
	}

{% endstylesheet %}

{% schema %}
  {
    "name": "Section name",
    "settings": [
		{
    		"type": "product",
    		"id": "product",
    		"label": "Choose featured product"
  		}
	],
	"presets": [
		{
			"name": "Fair Featured Product",
			"category": "ADVANCED LAYOUT"
		}
	]
  }
{% endschema %}



{% javascript %}
{% endjavascript %}
