<div class="hero_body row" style="background-image:url({{section.settings.hero-background-image  | img_url: 'master' }})">
  <div class="hero_row row">
    <div class="col-md-6 hero_col-left" style="background:{{section.settings.background_col }}">
      <div class="hero_col-left-text" style=" background-image:url({{section.settings.hero-background-image  | img_url: 'master' }})">
        <p class="hero_col-left-text-title" style="font:{{section.settings.heading_font}}; color:transparent">
          {{section.settings.hero-headline}}
        </p>
        <p class="hero_col-left-text-sub" style="font:{{section.settings.subtitle_font}}; color:transparent">
          {{section.settings.hero-subtitle}}
        </p>
        <div class="hero_cta-container">
        	<a>
          		<p class="hero_cta-text">{{section.settings.hero_cta-text}}</p>
        	</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 hero_col-right">
      <div class="hero_img-container">
      		
      </div>
    </div>
  </div>
</div>





{% stylesheet %}
	.hero_body{
		height:90vh;
	}
	.hero_col-left{
		height:90vh;
	}
	.hero_col-left-text{
		width:100%;
		margin-top:5%;
		margin-left:10%;
		margin-right: 10%;
  		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
}
h1{
  font-size: 55px;
	}
	.hero_col-left-text-title{
		font-size: 8rem;
	}
	.hero_col-left-text-sub{
		font-size: 2.5rem;
		width:55%;
	}
	.hero_img-container{
		height:100%;
		width:100%;
	}
	.hero-image{
		margin-left: auto;
  		margin-right: auto;
	}
	.hero_cta-container{
		margin-top:20%;
		color:black;
	}
{% endstylesheet %}

{% schema %}
  {
    "name": "Fair Hero",
    "settings": [
		{
			"type": "image_picker",
			"id": "hero-background-image",
			"label": "Hero background image"
		},
		{
			"type": "color",
  			"id": "background",
  			"label": "bg color"
		},
		{
			"type": "color",
  			"id": "background_col",
  			"label": "bg color",
			"default": "#ffffff"
		},
		{
			"type": "text",
  			"id": "hero-headline",
  			"label": "Headline",
			"default": "FAIR <br>THEME"
		},
		{
			"type": "text",
  			"id": "hero-subtitle",
  			"label": "Headline",
			"default": "The modern theme that makes your brand shine"
		},
		{
  			"type": "font_picker",
  			"id": "heading_font",
  			"label": "Heading font",
  			"default": "prompt_n8"
		},
		{
  			"type": "font_picker",
  			"id": "subtitle_font",
  			"label": "Heading font",
  			"default": "prompt_n6"
		},
		{
			"type": "text",
			"id": "hero_cta-text",
			"label": "Call to action text",
			"default": "Shop now"
		},
		{
    		"type": "image_picker",
    		"id": "image",
    		"label": "Hero Image"
  		}

	],
	"presets": [
		{
			"name": "Fair Hero",
			"category": "ADVANCED LAYOUT"
		}
	]
  }
{% endschema %}


